## /etc/jailcontrol.conf
## This is a shell script so the syntax is the same.

##
## base_directory: This is the base directory of jails. All the jails will be
## searched inside this directory. Of course you can define / as base_directory,
## and use absolute directory names in jails parameter.
##
## Example:
##   base_directory="/var/myjails"
##
## Default value (if not definied this value will be used): "/jails"
##
base_directory="/jails"

##
## jails: List your jails here, separating them by spaces or new lines.
##
## Example:
##   jails="apache postfix mysql"
##
## Default value (if not definied this value will be used): "" (empty string)
##
jails=""

##
## colors_enabled: Enable or disable colors. Valid values: 1 or 0
##
## Example:
##   colors_enabled=0
##
## Default value (if not definied this value will be used): 1
##
colors_enabled=1

##
## jail_tagging_enabled: Enable or disable jail tagging. When enabled, an
## "/etc/jailcontrol_jail_name" file will be created inside the jails when
## starting them. Valid values: 1 or 0
##
## *** WARNING ***
## This might be considered as a security information leaking as the file can
## be read by programs running in the jail exposing the name of the jail they
## are running in.
##
## Example:
##   jail_tagging_enabled=1
##
## Default value (if not definied this value will be used): 0
##
jail_tagging_enabled=0

##
## jail_tagging_mode: The mode of file created by "jail_tagging_enabled"
## parameter.
##
## For more info see "jail_tagging_enabled".
##
jail_tagging_mode=0700

##
## jail_tagging_uid_gid: The UID and GIT of file created by the 
## "jail_tagging_enabled" parameter. The UID and GID are set from the root
## system, therefore the users and groups must exist _outside_ the jail.
##
## Using numbers instead of names will work anyways and is a preferred method.
## 0:0 is root:root
##
## For more info see "jail_tagging_enabled".
##
jail_tagging_uid_gid=0:0
